/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #faf7f2;
    margin: 0;
    padding: 136px 0 0 0;
}

/* Login Form Section */
.login-section {
    padding: 2rem 0;
    text-align: center;
    background: #f9f8f3;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    color: #8b5e3c;
    margin-bottom: 1.5rem;
    font-family: serif;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #8b5e3c;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #d4a373;
    border-radius: 5px;
    font-size: 1rem;
}

/* Nút đăng nhập chỉ áp dụng cho trang login */
.login-page-button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #1e90ff;
    border-radius: ầpx;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none; /* Đảm bảo không có viền */
}

.login-page-button:hover {
    background-color: #187bcd;
}


.signup-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #8b5e3c;
}

.signup-link a {
    color: #1e90ff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
