<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>002_SERVLET_ReqRes</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>req_resp_servlet</display-name>
    <servlet-name>req_resp_servlet</servlet-name>
    <servlet-class>servlets.req_resp_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>req_resp_servlet</servlet-name>
    <url-pattern>/req_resp_servlet</url-pattern>
  </servlet-mapping>
</web-app>