<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>003_SERVLET_Hello</display-name>
  <welcome-file-list>
    <welcome-file>03_jspLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>checkServlet</display-name>
    <servlet-name>checkServlet</servlet-name>
    <servlet-class>servlets.checkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkServlet</servlet-name>
    <url-pattern>/checkServlet</url-pattern>
  </servlet-mapping>
</web-app>