<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>NenThomWeb</display-name>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProduct_Servlet</display-name>
    <servlet-name>AddProduct_Servlet</servlet-name>
    <servlet-class>servlets.AddProduct_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct_Servlet</servlet-name>
    <url-pattern>/AddProduct_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DSCatagory_Servlet</display-name>
    <servlet-name>DSCatagory_Servlet</servlet-name>
    <servlet-class>servlets.DSCatagory_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSCatagory_Servlet</servlet-name>
    <url-pattern>/DSCatagory_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct_Servlet</display-name>
    <servlet-name>EditProduct_Servlet</servlet-name>
    <servlet-class>servlets.EditProduct_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct_Servlet</servlet-name>
    <url-pattern>/EditProduct_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct_Servlet</display-name>
    <servlet-name>DeleteProduct_Servlet</servlet-name>
    <servlet-class>servlets.DeleteProduct_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct_Servlet</servlet-name>
    <url-pattern>/DeleteProduct_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DSOrder_Servlet</display-name>
    <servlet-name>DSOrder_Servlet</servlet-name>
    <servlet-class>servlets.DSOrder_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSOrder_Servlet</servlet-name>
    <url-pattern>/DSOrder_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetail_Servlet</display-name>
    <servlet-name>OrderDetail_Servlet</servlet-name>
    <servlet-class>servlets.OrderDetail_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetail_Servlet</servlet-name>
    <url-pattern>/OrderDetail_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiscount_Servlet</display-name>
    <servlet-name>AddDiscount_Servlet</servlet-name>
    <servlet-class>servlets.AddDiscount_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiscount_Servlet</servlet-name>
    <url-pattern>/AddDiscount_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDiscount_Servlet</display-name>
    <servlet-name>UpdateDiscount_Servlet</servlet-name>
    <servlet-class>servlets.UpdateDiscount_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDiscount_Servlet</servlet-name>
    <url-pattern>/UpdateDiscount_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDiscount_Servlet</display-name>
    <servlet-name>DeleteDiscount_Servlet</servlet-name>
    <servlet-class>servlets.DeleteDiscount_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDiscount_Servlet</servlet-name>
    <url-pattern>/DeleteDiscount_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategory_Servlet</display-name>
    <servlet-name>DeleteCategory_Servlet</servlet-name>
    <servlet-class>servlets.DeleteCategory_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategory_Servlet</servlet-name>
    <url-pattern>/DeleteCategory_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategory_Servlet</display-name>
    <servlet-name>AddCategory_Servlet</servlet-name>
    <servlet-class>servlets.AddCategory_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategory_Servlet</servlet-name>
    <url-pattern>/AddCategory_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategory_Servlet</display-name>
    <servlet-name>EditCategory_Servlet</servlet-name>
    <servlet-class>servlets.EditCategory_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategory_Servlet</servlet-name>
    <url-pattern>/EditCategory_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCategory_Servlet</display-name>
    <servlet-name>SaveCategory_Servlet</servlet-name>
    <servlet-class>servlets.SaveCategory_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCategory_Servlet</servlet-name>
    <url-pattern>/SaveCategory_Servlet</url-pattern>
  </servlet-mapping>

  
</web-app>